<div id="footer" class="container-fluid mt-5 mb-3 py-5">
    <div class="row">
        <div class="container">
            <div class="row pt-5">
                <div class="col-3 mx-0 px-0">
                    <img src="./assets/img/logo.png" alt="" class="pb-3"><br>
                    shopy c 2015. your copy right here
                </div>
                <div class="col mx-0 px-0">
                    <ul class="float-right">
                        <li>about us</li>
                        <li>contact us</li>
                        <li>support</li>
                    </ul>
                </div>
                <div class="col mx-0 px-0">
                    <ul >
                        <li>our feed</li>
                        <li>terms and conditions</li>
                        <li>our privacy</li>
                    </ul>
                </div>
                <div class="col mx-0 px-0">
                    <ul class="float-left">
                        <li>join us</li>
                        <li>live support</li>
                    </ul>
                </div>
                <div class="col mx-0 pl-5 pr-0 mr-0 pt-1">
                    <h3 class="paymentMethods">Payment Methods</h3>
                    <img src="./assets/img/ProductsPay_1.png" alt="" class="img-fluid m-auto payment">
                    <img src="./assets/img/ProductsPay_2.png" alt="" class="img-fluid mx-1 payment">
                    <img src="./assets/img/ProductsPay_3.png" alt="" class="img-fluid mr-1 payment">
                    <img src="./assets/img/ProductsPay_5.png" alt="" class="img-fluid mr-1 payment">
                    <img src="./assets/img/ProductsPay_4.png" alt="" class="img-fluid mr-0 pr-0 payment">
                </div>
            </div>
        </div>
    </div>
</div>