$orange: #FF5912; 
$bgColor: #F5F6F8;
$grey: #34404B;
$bgWhite: #FFFFFF;
$orange: #FF5912; 

#footer {
    background-color: $bgWhite;
    // font-size: 1em;
    color: $grey;
   .paymentMethods {
       color: $orange;
    //    font-size: 1.3em;
   }
   .payment {
       width: 17%;
   }
}