<div id="productShow" class="container-fluid px-0">
    <div class="row">
        <div class="container-fluid bgWhite px-0">
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                </div>
               <div class="container">
                <div class="row mt-5">
                    <div class="col-sm-5 text-center">
                        <a href="#"><img src="../assets/img/Product-Show_1.png" alt="" class="img-fluid"></a>
                        <div class="mt-4">
                            <img src="../assets/img/Product-Show_2.png" alt="" class="img-fluid">
                            <img src="../assets/img/Product_Show_3.png" alt="" class="img-fluid">
                            <img src="../assets/img/product-show-thumb.png" alt="" class="img-fluid orange">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h1 class="text-uppercase font-weight-bold orangeColor">full winter kit</h1>
                        <h5 class="text-capitalize darkGrey font-weight-bolder">half jacket + skiny trousers + boot leather</h5>
                        <p class="my-3 lightGrey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and scrambled</p>
                        <hr>
                        <div class="row">
                            <div class="col align-self-start my-3 font-weight-bolder text-left lightGrey">
                                Choos size <span class="size pl-2">S - M - L - XL</span>
                            </div>
                            <div class="col align-self-end my-3 text-right font-weight-bolder lightGrey">
                                <span>Chose Quantity <span class="size pl-2">+ 3 -</span></span> 
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-5">
                            <div class="col align-self-start font-weight-bolder pr-0 darkGrey">Price : 120$</div>
                            <div class="col align-self-center text-right">
                               
                            </div>
                            <div class="col align-self-end text-right pl-0">
                                <i class="fa fa-globe mr-2 social"></i>
                                <i class="fa fa-cart-arrow-down social"></i>
                                <i class="fa fa-heart mx-2 social"></i>
                                <button class="btn-sm w-50 h-50 py-2 orderButton">Order Now</button>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>

         <!-- related search -->
        <div class="container px-0">
            <div class="row mt-5 py-5">
                <div class="col-sm-12 text-center pt-3">
                    <h3><span class="text-uppercase font-weight-bolder orangeColor">related</span><span class="text-uppercase font-weight-bolder darkGrey">&nbsp;&nbsp;products</span></h3>
                    <p class="pt-3 lightGrey">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="row card-group mb-5">
                <div class="col-md-3" *ngFor="let product of products">
                    <div class="card mt-3">
                        <div class="card-body">
                            <img src="{{product.img}}" clas="img-fluid">
                            <p class="card-text text-center font-weight-bolder lightGrey">{{product.name}}</p>
                            <p class="card-text text-center font-weight-bolder orangeColor">{{product.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="newsletter" class="row mt-5 ml-1">
                <div class="col-md-7 pl-5 py-5 mr-0">
                    <span class="newsletter align-middle">NEWS LETTER</span><span
                        class="font-italic align-middle pl-3 joinUs">join us now to get all news and special
                        offers</span>
                </div>
                <div class="col-md-3 py-5 ml-0">
                    <i class="far fa-envelope align-middle"></i><span class="font-italic align-middle pl-2 email">type
                        your email here</span>
                </div>
                <div class="col-md-2 pt-4">
                    <button type="button" class="btn btn-secondary py-3 w-75 mt-1">join us</button>
                </div>
            </div>
        </div>
    </div>
</div>