$orange: #FF5912; 
$bgColor: #F5F6F8;
$grey: #4F5962;
$bgWhite: #FFFFFF;
$lightGrey: #5E6C6F;

#productShow {
    .orangeColor {
        color: $orange;
    }
    .darkGrey {
        color: $grey;
    }
    .lightGrey {
        color: $lightGrey;
    }
    .size:hover {
        color:$orange;
        -webkit-transition:  color .6s ease-out;
    }
    img {
        max-width: 100%;
    }
    #newsletter {
        background-color: $bgWhite;
    }
    .newsletter{
      color: $orange;
      font-size: 1.3em;
      font-weight: bold;
    }
    .joinUs{
      color: $grey;
      font-size: 1.1em;
    }
    i {
      color: $orange;
    }
    .email {
      font-size: 1.1em;
    }
     .btn.btn-secondary {
      background-color: $orange;
      border: 0 !important;
      border-radius: 0;
    }
    button.btn.btn-secondary:focus{
      outline: 0 !important;
      border: 0 !important;
      outline-color: transparent;
      box-shadow: none;
    }
    .bgWhite {
        background-color: $bgWhite;
    }
    .orange:hover {
        background-color: $orange;
        -webkit-transition:  background-color .6s ease-out;
        opacity: 0.6;
    }
    .social {
        color: $lightGrey;
    }
    .orderButton {
        border-radius: 15px;
        background-color: $orange;
        color: white;
        outline: 0 !important;
        border: 0 !important;
        outline-color: transparent;
        box-shadow: none;
    }
    .card {
        border: none;
    }
}