#products .container {
  background-color: #F5F6F8; }
#products .card {
  border: none;
  box-shadow: 0px 0px 0px grey; }
#products .card-title {
  color: #FF5912;
  font-size: 1.5em;
  font-weight: bold; }
#products li a {
  font-size: 1.3em;
  font-weight: bolder;
  color: #34404B; }
#products li {
  list-style: none; }
#products img {
  max-width: 100%; }
#products input#inputPassword2 {
  border: none;
  background-color: #F5F6F8; }
#products input[type='range'] {
  background: #F5F6F8; }
#products input[type="checkbox"] {
  border: none;
  background: #F5F6F8; }
#products input[type="checkbox"]:checked {
  color: red; }
#products .name, #products .form-check-label {
  font-size: 1.5em;
  font-weight: bolder;
  color: #34404B; }
#products .price {
  font-size: 1.5em;
  font-weight: bolder;
  color: #FF5912; }
#products .loading {
  background-color: #FFFFFF;
  max-width: 97%; }
#products .spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center; }
#products .spinner > div {
  width: 15px;
  height: 15px;
  background-color: #FF5912;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
#products .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }
#products .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
#products #newsletter {
  background-color: #FFFFFF; }
#products .newsletter {
  color: #FF5912;
  font-size: 1.3em;
  font-weight: bold; }
#products .joinUs {
  color: #34404B;
  font-size: 1.1em; }
#products i {
  color: #FF5912; }
#products .email {
  font-size: 1.1em; }
#products .btn.btn-secondary {
  background-color: #FF5912;
  border: 0 !important;
  border-radius: 0; }
#products button.btn.btn-secondary:focus {
  outline: 0 !important;
  border: 0 !important;
  outline-color: transparent;
  box-shadow: none; }

/*# sourceMappingURL=produts.component.css.map */
