<div id="products" class="container">
    <div class="row pt-3">
        <!-- sidebar -->
        <div class="col-md-3">
            <div class="row card-group mt-4">
                <div class="col-md-12">
                    <!-- Categoriess -->
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title pl-3">Categories</h4>
                            <ul class="pl-3">
                                <li class="py-2"><a href="#" class="card-link">Man</a></li>
                                <li class="py-2"><a href="#" class="card-link">Woman</a></li>
                                <li class="py-2"><a href="#" class="card-link">Childrens</a></li>
                                <li class="py-2"><a href="#" class="card-link">Hot Deals</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Price -->
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">Price Filtter</h4>
                            <span class="text-md-left">100 $</span><span class="float-right">1000 $</span><br>
                            <input type="range" class="w-100 p-3">
                            <div class="input-group mb-4 w-100">
                                <label for="inputPassword2" class="mr-2">From </label>
                                <input type="password" class="col-md-3" id="inputPassword2">
                                <label for="inputPassword2" class="ml-4 mr-2">To</label>
                                <input type="password" class="col-md-3" id="inputPassword2">
                            </div>
                        </div>
                    </div>
                    <!-- Sizes -->
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">Sizes</h4>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Small
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Midium
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Larg
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        X Larg
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Brands -->
                    <div class="card my-4">
                        <div class="card-body">
                            <h4 class="card-title">Brands</h4>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Reebok
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Addidas
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Nike
                                    </label><br>
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--products -->
        <div class="col-md-9">
            <div class="row card-group mt-4">
                <div class="col-md-4" *ngFor="let product of products; let i = index">
                    <div class="card mt-4" (click)="onSelect()">
                        <div class="card-body text-center">
                            <img src="{{product.img}}" clas="img-fluid">
                            <p class="card-text text-center name">{{product.name}}{{i}}</p>
                            <p class="card-text text-center price">{{product.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /products -->
            <div class="row mt-4 mb-5">
                <div class="col-sm-12 ml-3 loading">
                    <div class="spinner mb-4">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /loading -->
    <div id="newsletter" class="row">
        <div class="col-sm-7 pl-5 py-5 mr-0">
            <span class="newsletter align-middle">NEWS LETTER</span><span
                class="font-italic align-middle pl-3 joinUs">join us now to get all news and special offers</span>
        </div>
        <div class="col-sm-3 py-5 ml-0">
            <i class="far fa-envelope align-middle"></i><span class="font-italic align-middle pl-2 email">type your
                email here</span>
        </div>
        <div class="col-sm-2 pt-4">
            <button type="button" class="btn btn-secondary py-3 w-75 mt-1">join us</button>
        </div>
    </div>

</div>