
$orange: #FF5912; 
$bgColor: #F5F6F8;
$grey: #34404B;
$bgWhite: #FFFFFF;
$lightGrey: rgb(179, 192, 194);
$faRed: #E02D40;
$faGrey: #34414A;
$faBlue: #3AB2FE;
$faGreen: #2ED967;

#products {
    .container {
        background-color: $bgColor;
    }
    li a {
        font-weight: bolder;
        color: $grey;
    }
    li {
        list-style: none;
    }
    img {
        max-width: 100%;
    }
    input#inputPassword2 {
        border: none;
        background-color: $bgColor;
    }
    .name, .form-check-label {
        font-weight: bolder;
        color: $grey;
    }
    .price {
        font-weight: bolder;
        color: $orange;
    }
    .loading {
        background-color: $bgWhite;
        max-width: 97%;
    }
    .spinner {
        margin: 30px auto 0;
        width: 70px;
        text-align: center;
    }
      
    .spinner > div {
        width: 15px;
        height: 15px;
        background-color: $orange;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
      
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
      
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
      
    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }
      
    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
          -webkit-transform: scale(0);
          transform: scale(0);
    } 40% { 
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
    }
    }
    #newsletter {
          background-color: $bgWhite;
    }
    .newsletter{
        color: $orange;
        font-weight: bold;
    }
    .joinUs{
        color: $grey;
    }
    i {
        color: $orange;
    }
    .btn.btn-secondary {
        background-color: $orange;
        border: 0 !important;
        border-radius: 0;
    }
    button.btn.btn-secondary:focus{
        outline: 0 !important;
        border: 0 !important;
        outline-color: transparent;
        box-shadow: none;
    }
    .form-check input, label {
        margin-bottom: 20px;
    }

      // input slider
    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: $lightGrey;
        border-radius: 25px;
        border: 0px solid #000101;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 19px;
        width: 19px;
        border-radius: 100%;
        background: $grey;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.6px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: $lightGrey;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: $grey;
        border-radius: 25px;
        border: 0px solid #000101;
    }
    .card {
      border: none;
    }
}
