.container-fluid {
  background-color: #F5F6F8; }

nav.navbar {
  background-color: #FFFFFF; }

i {
  color: #FF5912; }

.fab {
  color: #34404B; }

.faGrey {
  color: #34404B;
  font-size: 1.1em; }

hr {
  margin-top: 0; }

.navbar {
  background-color: #F5F6F8;
  font-size: 1.3em; }

.header {
  font-size: 1em; }

img {
  min-width: 100%; }

ul li a:hover, ul li a:focus, ul li a:active {
  color: #FF5912; }

/*# sourceMappingURL=app.component.css.map */
