$orange: #FF5912;
$faGrey: #34404B;
$bgColor: #F5F6F8;
$headerColor: #FFFFFF;

        .container-fluid {
                background-color: $bgColor;
        }
        nav.navbar {
                background-color: $headerColor;
        }
        i {
                color: $orange;
        }
        .fab {
                color: $faGrey;
        }
        .faGrey {
                color:$faGrey;
                font-size: 1.1rem;
        }
        hr {
                margin-top: 0;
        }
        .navbar {
                background-color: $bgColor;
                font-size: 1.3rem;
        }
        .header {
                font-size: 1rem;
        }
        img {
                min-width: 100%;
        }
        ul li a:hover,ul li a:focus, ul li a:active {
                color: $orange;
        }
        

