<div class="header pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <i class="far fa-envelope"></i> info@shopy.com&nbsp;&nbsp;
        <i class="fas fa-phone"></i> 453-5553-996
      </div>
      <div class="col-6 text-right">
        <i class="fab fa-facebook-f mr-1"></i>
        <i class="fab fa-twitter mr-1"></i>
        <i class="fab fa-google-plus-g mr-1"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<hr>
<nav class="navbar navbar-expand-sm sticky-top navbar-light pb-4">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pl-5" id="navbar1">
      <ul class="navbar-nav pl-5">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/produts">Products</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Hot Deals</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <i class="fa fa-search faGrey mr-4"></i>
        </li>
        <li class="nav-item active">
          <i class="far fa-user faGrey mr-4"></i>
        </li>
        <li class="nav-item active">
          <i class="fa fa-shopping-basket"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="app" class="container-fluid px-0">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>