<div id="blog" class="container">
    <div class="row">
        <div class="col-sm-12 empty"></div>
    </div>
    <!-- content -->
    <div class="row bgWhite">
    <div class="col-sm-5 text-center">
        <h1 class="text-uppercase font-weight-bold text-center pt-5 orangeColor">lorem ipsum</h1>
        <p class="my-3 pt-2 pb-5 lightGrey">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <button class="btn-sm w-25 py-2 mb-2 text-capitalize orderButton" (click)="onSelect()">read more</button>
    </div>
    <div class="col-sm-7 pr-0">
<img src="../assets/img/post-photo-1.jpg" alt="" class="img-fluid">
    </div>
    </div>
    <div class="row mb-4 mt-4 bgWhite">
    <div class="col-sm-7 pl-0">
        <img src="../assets/img/post-photo-3.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-sm-5 text-center">
        <h1 class="text-uppercase font-weight-bold text-center pt-5 orangeColor">dolor sit amet</h1>
        <p class="my-3 text-center pb-5 lightGrey">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <button class="btn-sm w-25 py-2 mb-2 text-capitalize orderButton" (click)="onSelect()">read more</button>
    </div>
    </div>
    <div class="row mb-4 bgWhite">
    <div class="col-sm-5 text-center">
        <h1 class="text-uppercase font-weight-bold text-center pt-5 orangeColor">sed ut perspiciatis</h1>
        <p class="my-3 text-center pb-5 lightGrey">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <button class="btn-sm w-25 py-2 mb-2 text-capitalize orderButton" (click)="onSelect()">read more</button>
    </div>
    <div class="col-sm-7 pr-0">
        <img src="../assets/img/post-photo-2.jpg" alt="" class="img-fluid">
    </div>
    </div>
    <!-- pagination -->
    <div class="row bgWhite">
            <div class="col text-left pt-3">
                <i class="fa fa-chevron-left"></i> Previoous
            </div>
            <div class="col text-center pt-2">
                <nav>
                    <ul class="pagination justify-content-center">
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                  </nav>
            </div>
            <div class="col text-right pt-3">
             Next <i class="fa fa-chevron-right"></i>
            </div>
    </div>
<!-- newsletter -->
<div id="newsletter" class="row mt-5">
    <div class="col-sm-7 pl-5 py-5 mr-0">
        <span class="newsletter align-middle">NEWS LETTER</span><span
            class="font-italic align-middle pl-3 joinUs">join us now to get all news and special
            offers</span>
    </div>
    <div class="col-sm-3 py-5 ml-0">
        <i class="far fa-envelope align-middle"></i><span class="font-italic align-middle pl-2 email">type
            your email here</span>
    </div>
    <div class="col-sm-2 pt-4">
        <button type="button" class="btn btn-secondary py-3 w-75 mt-1">join us</button>
    </div>
</div>


</div>