$orange: #FF5912; 
$bgColor: #F5F6F8;
$grey: #4F5962;
$bgWhite: #FFFFFF;
$lightGrey: #5E6C6F;

#blog {
    .lightGrey {
        color: $lightGrey;
    }
img {
    max-width: 100%;
}
.orderButton {
    border-radius: 17px;
    background-color: $orange;
    color: white;
    outline: 0 !important;
    border: 0 !important;
    outline-color: transparent;
    box-shadow: none;
}
.bgWhite {
    background-color: $bgWhite;
}
.orangeColor {
    color: $orange;
}
.empty {
    height: 70px;
}
.page-link {
    border: none;
    color: $lightGrey;
}
.page-link:hover {
    color: $orange;
    background-color: transparent;
}
#newsletter {
    background-color: $bgWhite;
}
.newsletter{
  color: $orange;
  font-size: 1.3em;
  font-weight: bold;
}
.joinUs{
  color: $grey;
  font-size: 1.1em;
}
i {
  color: $orange;
}
.email {
  font-size: 1.1em;
}
.btn.btn-secondary {
    background-color: $orange;
    border: 0 !important;
    border-radius: 0;
  }
  button.btn.btn-secondary:focus{
    outline: 0 !important;
    border: 0 !important;
    outline-color: transparent;
    box-shadow: none;
  }
}