<div id="blogDetails" class="container">
    <div class="row pt-5">
        <div class="col-12">
            <h1 class="text-capitalize py-4 text-center orange">lorem ipsum</h1>
            <img src="../assets/img/post-photo-1.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="pl-2 pt-4 lightGrey">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an
                unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <span class="text-uppercase pl-2 mb-2 lightGrey">categories:</span>
            <button class="btn ml-2 mb-2 darkButton"># personality</button>
            <button class="btn ml-2 mb-2 darkButton"># design</button>
        </div>
    </div>
    <!-- comments -->
    <div class="row my-5 bgWhite">
        <div class="col px-5">
            <div class="row pt-5">
                <div class="col-6">
                    <span class="text-uppercase font-weight-bold lightGrey">1 comment</span>
                    <button class="btn text-capitalize ml-2 addBtn">add comment</button>
                </div>
                <div class="col-6">
                    <i class="fas fa-plus-square" style="color:#FE7C62"></i>
                    <i class="fab fa-facebook-square" style="color:#4B6EA8"></i>
                    <i class="fab fa-twitter-square" style="color:#17B3EE"></i>
                    <i class="fas fa-print" style="color:#84A39E"></i>
                    <i class="fab fa-google-plus-square" style="color:#E66552"></i>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-1 mr-0 pr-0">
                    <span class="badge badge-pill orangeBg">1</span>
                </div>
                <div class="col ml-0 pl-0">
                    <span class="lightGrey"><span class="font-weight-bold">giordano </span>
                        <span class="font-italic">on october 9, 2016 at 2:14 pm</span><br>
                        Originale, funzionale e nuovo.mi piace molto.</span>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col pb-5">
                    <span class="text-capitalize my-3 font-weight-bold lightGrey">add your comment</span>
                    <div class="input-group pt-3 mb-3">
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <button class="btn text-capitalize float-right mt-2 addBtn">submit</button>
                </div>
            </div>

        </div>
    </div>
    <!-- newsletter -->
    <div id="newsletter" class="row my-5">
        <div class="col-sm-7 pl-5 py-5 mr-0">
            <span class="newsletter align-middle">NEWS LETTER</span><span
                class="font-italic align-middle pl-3 joinUs">join us now to get all news and special
                offers</span>
        </div>
        <div class="col-sm-3 py-5 ml-0">
            <i class="far fa-envelope align-middle"></i><span class="font-italic align-middle pl-2 email">type
                your email here</span>
        </div>
        <div class="col-sm-2 pt-4">
            <button type="button" class="btn btn-secondary py-3 w-75 mt-1">join us</button>
        </div>
    </div>

</div>