$orange: #FF5912; 
$bgColor: #F5F6F8;
$grey: #4F5962;
$bgWhite: #FFFFFF;
$lightGrey: #5E6C6F;

#blogDetails {
    img {
        max-width: 100%;
    }
    .orange {
        color: $orange;
    }
    .orangeBg {
        background-color: $orange;
        color: white;
    }
    .lightGrey {
        color: $lightGrey;
    }
    .darkButton {
        background-color: $grey;
        border-radius: 0;
        color: white;
    }
    .bgWhite {
        background-color: $bgWhite;
    }
    .addBtn {
        background-color: $orange;
        border-radius: 17px;
        color: white;
    }
    .fas, .fab {
        font-size: 2rem;
        padding: 2px;
        border: 1px solid #F2F2F2;
        float: right;
    } 
    textarea {
        border-radius: 5px;
        min-height: 120px;
    }
    .badge {
        padding: 8px 10px;
    }
    #newsletter {
        background-color: $bgWhite;
    }
    .newsletter{
      color: $orange;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .joinUs{
      color: $grey;
      font-size: 1.1rem;
    }
    i {
      color: $orange;
    }
    .email {
      font-size: 1.1rem;
    }
    .btn.btn-secondary {
        background-color: $orange;
        border: 0 !important;
        border-radius: 0;
      }
      button.btn.btn-secondary:focus{
        outline: 0 !important;
        border: 0 !important;
        outline-color: transparent;
        box-shadow: none;
      }
}